/* @import './base.css'; */

.el-menu--horizontal.el-menu {
    border-bottom: 0px;
}

.el-menu--horizontal > .el-menu-item.is-active {
    border-bottom: 2px solid #fff;
    color: #fff !important;
}

.el-menu--horizontal > .el-sub-menu.is-active .el-sub-menu__title {
    border-bottom: 2px solid #3B81F4;
    color: #fff;
}

::-webkit-scrollbar {
    width: 0.1vw;  /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: #fff; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: #0C4A6E; /* color of the scroll thumb */
}
